h1 {
    font-family: Verdana;
    font-size: 115px;
    position: relative;
}

h2 {
    font-family: Courier New;
    color: white;
    font-size: 20px;
    position: relative;
}

h3 {
    font-family: Verdana;
    color: white;
}

li {
    color: white;
    font-size: 25px;
    font-family: Courier New;
}

.atmosphere {
    mask-image: linear-gradient(to right, transparent 25%, black);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color:#34495e;
    margin: 0px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem; 
    transition: all 0.5s;
    position: relative;
}

.navbar{
    transition: 0.5s;
}

.navbar:hover a{
    color:black;
}

.navbar::after {
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
}

.navbar a:hover {
    font-size: 1.7rem;
}

.navbar:hover::after {
    scale: 1 1;
}

.navbar {
    background-color: #34495e;
    text-align: right;
    padding: 15px 0px;
    font-family: Courier New;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin: 0;
    top: 0px;
}



header {
    background-color: transparent;
    color: white;
    padding: 15px 0px;
    /*padding-bottom: 100px;*/
}

header h1, header h2{
    margin-left: 1rem;
}

.about {
    background-color: white;
    position: relative;
    top: 150px;
    font-size: 20px;
    font-family: Courier New;
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h2 {
    Font-family: Verdana;
    font-size: 30px;
    color: black;
    padding-left: 100px;

}

.main {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.about, .contact, .projects {
    text-align: left;
    /*padding-left: 100px;*/
}

.about p, .contact p, .projects p{
    max-width: 70%;
    padding-left: 100px;
}

.about li {
    font-size: 20px;
    color: black;
}

.about ul {
    color: black;
    padding-left: 120px;
}

.about p {
    color: black;
    display: block;
    line-height: 1.5;
}

.projects {
    text-align: left;
    background-color: transparent;
    padding-top: 115px;
    padding-bottom: 100px;
    position: relative;
    top: 150px;
}

.projects h2 {
    Font-family: Verdana;
    font-size: 30px;
    color: white;
    padding-left: 100px;
}

.projects p {
    color: white;
    display: block;
    line-height: 1.5;
    font-size: 20px;
    font-family: Courier New;
}



.loading-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading{
    /*object-fit: contain;*/
    width: 10%;
    height: auto;
}



@keyframes text {
    0% {
        color: #34495e;
        margin-top: 40px;
    }
}

footer {
    position: relative;
    top: 400px;
    background-color: #5f6a6a;
}

.contact {
    color: white;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}


.contact h2 {
    font-family: Verdana;
    color: white; 
    font-size: 30px;
    text-align: left;
}

.contact p {
    font-family: Courier New;
    color: white;
    line-height: 1.5;
    font-size: 20px;   
    text-align: left;
}

.contact a {
    font-family: Courier New;
    color: white;
}

.headername {
    color: white; 
    animation: text 5s 1;
    /*max-width: 100%;*/
}

.headertop {
    position: relative;
    top: 90px;
    animation: bottom 5s 1;
}

.headerbottom {
    position: relative;
    bottom: 70px;
    animation: bottom 5s 1;
}

@keyframes bottom {
    0% {
        color: #34495e;
        margin-bottom: 40px;
    }
}

/* New Media Tags*/

@media (max-width: 623px) {
    .headername {
      font-size: 80px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
}

@media (max-width: 457px) {
    .headername {
      font-size: 50px;
    }
    .about p, .contact p, .projects p{
        padding-left: 50px;
    }
}

/* Original Media Tags For Screen Changes*/

/*@media (max-width:781px) {
    .headername {
        font-size: 6rem;
        padding: 10px;
        max-width: 100%;
    }
 }
 @media (max-width:581px) {
    .headername {
        font-size: 4rem; 
        padding: 10px;
        max-width: 100%;
    }
 }
 @media (max-width:481px) {
    .headername {
        font-size: 2rem;
        padding: 10px;
        max-width: 100%;
    }
 }

 @media (max-width:781px) {
    .headertop {
        font-size: 2rem;
        padding-bottom: 70px;
        max-width: 100%;

    }
 }
 @media (max-width:581px) {
    .headertop {
        font-size: 1rem;
        padding-bottom: 70px;
        max-width: 100%;
    }
 }
 @media (max-width:481px) {
    .headertop {
        font-size: 1rem;
        padding-bottom: 70px;
        max-width: 100%;
    }
 }

 @media (max-width:781px) {
    .headerbottom {
        font-size: 2rem;
        padding-top: 50px;
        max-width: 100%;
    }
 }
 @media (max-width:581px) {
    .headerbottom {
        font-size: 1rem;
        padding-top: 50px;
        max-width: 100%;
    }
 }
 @media (max-width:481px) {
    .headerbottom {
        font-size: 1rem;
        padding-top: 50px;
        max-width: 100%;
    }
 }

 @media (max-width: 480px) {
    .about, .contact, .projects {
        padding: 4px;
        max-width: 100%;
    }
    .about p, .contact p, .projects p {
        max-width:100%;
    }
 }

@media (min-width: 760px) {
    .atmosphere {
        position: absolute;
        height: auto;
        width: auto\9;
    }
} 

@media (max-width: 999px) {
    .atmosphere {
       display: none;
    }
}

@media (max-width: 420px) {
    .navbar {
        max-width: 100%;
        text-align: left;
        font-size: 5px;
    }
}
@media (max-width: 321px) {
    .navbar {
        max-width: 100%;
        text-align: left;
        font-size: 5px;
    }
}*/
